<body> 

<!-- preloader -->
<div class="preloader first">
  <div class="loader">
    <div class="loader-inner"></div>
  </div>
</div> 

<main>

<!-- HEADER 
==================================================-->
<header>
  <a href="{{ site.url }}" class="logo float-left"><img src="{{ site.url }}/assets/cenky/img/logo.png" alt=""> </a>
  <div class="menu float-right"><img src="{{ site.url }}/assets/cenky/img/menu.png" alt=""></div>
</header>

<!-- RIGHT MENU
==================================================-->
<div class="right-menu">
  <div class="close-icon"></div>
  <nav>
    <ul>
      <li><a data-type="ajax-load" href="{{ site.url }}">Inicio</a></li>
      <li><a href="https://anchor.fm/giancarlo-hincapie/?utm_source=giancarlohincapie.com" target="_blank">Podcast</a></li>
    </ul>
  </nav>
  <!-- Social Links -->
  <div class="social float-right">
      <a href="https://www.facebook.com/ejecocktails" target="_blank"><i class="fab fa-facebook-f"></i>  </a>
  </div> 
</div>

<!-- SLIDER
==================================================-->
<div class="ws-pages">
  <div class="ws-bgs">
    <div class="ws-bg"></div>
    <div class="ws-bg"></div>
    <div class="ws-bg"></div>
    <div class="ws-bg"></div>
    <div class="ws-bg"></div>
  </div>
  <div class="ws-text">
    <a class="slider-text-heading">
      <h2 class="title">Giancarlo Hincapié</h2>
      <span class="number">Consultor &middot; Bartender Élite IBA &middot; Embajador ILC</span>
    </a>
    <a href="https://ilc.com.co/?utm_source=giancarlohincapie.com" class="slider-text-heading" target="_blank">
      <h2 class="title">Embajador ILC</h2>
      <span class="number">Industria Licorera de Caldas</span>
    </a>
    <a href="https://iba-world.com/?utm_source=giancarlohincapie.com" class="slider-text-heading" target="_blank">
      <h2 class="title">Bartender Elite IBA</h2>
      <span class="number">International Bartenders Association</span>
    </a>
    <a href="https://ejecocktails.com/?utm_source=giancarlohincapie.com" class="slider-text-heading" target="_blank">
      <h2 class="title">Consultor</h2>
      <span class="number">Cocktails &amp; Dreams Bar Solutions</span>
    </a>
    <a class="slider-text-heading">
      <h2 class="title">Speaker &amp; Ferias</h2>
      <span class="number">Colombia, Latin America y Estados Unidos</span>
    </a>
  </div>
</div>

<!-- BOTTOM CONTROLS
==================================================-->
<div class="slider-bottom">
  <!-- Navigation -->
  <div class="navigate float-left">
    <a class="next"><i class="fas fa-chevron-up"></i></a>
    <a class="prev"><i class="fas fa-chevron-down"></i></a>
  </div>
  <!-- See All -->
  <!--<div class="see-all">See All Project </div>-->
  <!-- Social Links -->
  <div class="social float-right">
      <a href="https://www.facebook.com/ejecocktails" target="_blank"><i class="fab fa-facebook-f"></i>  </a>
  </div> 
</div>



</main>
<!-- Javascripts -->
<script src="{{ site.url }}/assets/cenky/js/jquery-2.1.4.min.js"></script>
<script src="{{ site.url }}/assets/cenky/js/plugins.js"></script>
<script src="{{ site.url }}/assets/cenky/js/main.js"></script>
  
</body>