---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>  
<title>{{ page.title }} | {{ site.title }}</title>
<meta charset="UTF-8">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="personal, portfolio">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.url }}/assets/cenky/css/style.css"/>
 
  	<!--[if lt IE 9]>
  	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  	<![endif]--> 
    
    <!-- FAVICON  -->
    <link rel="shortcut icon" href="{{ site.url }}/assets/cenky/img/favico.png">    

	   <!-- Font icons --> 
    <link rel="stylesheet" href="{{ site.url }}/assets/cenky/icon-fonts/fontawesome-5.0.6/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="{{ site.url }}/assets/cenky/icon-fonts/flaticon/flaticon.css" />

     <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:500,600&display=swap&subset=latin-ext" rel="stylesheet">

</head> 
<body> 

<!-- preloader -->
<div class="preloader first">
  <div class="loader">
    <div class="loader-inner"></div>
  </div>
</div> 

<main>

<!-- HEADER 
==================================================-->
<header>
  <a href="index.html" class="logo float-left"><img src="{{ site.url }}/assets/cenky/img/logo.png" alt=""> </a>
  <div class="menu float-right"><img src="{{ site.url }}/assets/cenky/img/menu.png" alt=""></div>
</header>

<!-- RIGHT MENU
==================================================-->
<div class="right-menu">
  <div class="close-icon"></div>
  <nav>
    <ul>
      <li><a data-type="ajax-load" href="{{ site.url }}">Inicio</a></li>
    </ul>
  </nav>
  <!-- Social Links -->
  <div class="social float-right">
      <a href="https://www.facebook.com/ejecocktails" target="_blank"><i class="fab fa-facebook-f"></i>  </a>
  </div> 
</div>

<!-- SLIDER
==================================================-->
<div class="ws-pages">
  <div class="ws-bgs">
    <div class="ws-bg"></div>
    <div class="ws-bg"></div>
    <div class="ws-bg"></div>
    <div class="ws-bg"></div>
    <div class="ws-bg"></div>
  </div>
  <div class="ws-text">
    <a data-type="ajax-load" class="slider-text-heading">
      <h2 class="title">Giancarlo Hincapié</h2>
      <span class="number">Consultor &middot; Bartender Élite IBA &middot; Embajador ILC</span>
    </a>
    <a href="https://ilc.com.co/?utm_source=giancarlohincapie.com" class="slider-text-heading" target="_blank">
      <h2 class="title">Embajador ILC</h2>
      <span class="number">Industria Licorera de Caldas</span>
    </a>
    <a href="https://iba-world.com/?utm_source=giancarlohincapie.com" class="slider-text-heading" target="_blank">
      <h2 class="title">Bartender Elite IBA</h2>
      <span class="number">International Bartenders Association</span>
    </a>
    <a href="https://ejecocktails.com/?utm_source=giancarlohincapie.com" class="slider-text-heading" target="_blank">
      <h2 class="title">Consultor</h2>
      <span class="number">Cocktails &amp; Dreams Bar Solutions</span>
    </a>
    <a class="slider-text-heading">
      <h2 class="title">Speaker &amp; Ferias</h2>
      <span class="number">Colombia, Latin America y Estados Unidos</span>
    </a>
  </div>
</div>

<!-- BOTTOM CONTROLS
==================================================-->
<div class="slider-bottom">
  <!-- Navigation -->
  <div class="navigate float-left">
    <a class="next"><i class="fas fa-chevron-up"></i></a>
    <a class="prev"><i class="fas fa-chevron-down"></i></a>
  </div>
  <!-- See All -->
  <!--<div class="see-all">See All Project </div>-->
  <!-- Social Links -->
  <div class="social float-right">
      <a href="https://www.facebook.com/ejecocktails" target="_blank"><i class="fab fa-facebook-f"></i>  </a>
  </div> 
</div>



</main>
<!-- Javascripts -->
<script src="{{ site.url }}/assets/cenky/js/jquery-2.1.4.min.js"></script>
<script src="{{ site.url }}/assets/cenky/js/plugins.js"></script>
<script src="{{ site.url }}/assets/cenky/js/main.js"></script>
  
</body>
</html>